<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Список користувачів</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <style>
        .invisible {
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Список користувачів</h2>
        <form name="userForm">
          <input type="hidden" name="id" value="0" />
            <div class="form-group">
                <label for="first-name">Ім'я:</label>
                <input class="form-control" name="first_name" />
            </div>
            <div class="form-group">
                <label for="last-name">Прізвище:</label>
                <input class="form-control" name="last_name" />
            </div>
            <div class="form-group">
                <label for="last-name">Логін:</label>
                <input class="form-control" name="user_login" required />
            </div>
            <div class="panel-body">
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </form>
        <div class="alert alert-danger invisible" role="alert" id="error">
            This login already exists. Please, try another login.
        </div>
        <table class="table table-condensed table-striped table-bordered" id="table">
            <tr>
                <th onclick="sortTable(0)">Id</th>
                <th onclick="sortTable(1)">Ім'я</th>
                <th onclick="sortTable(2)">Прізвище</th>
                <th onclick="sortTable(3)">Логін</th>
                <th>Edit</th>
                <th>Delete</th>
                <th><button id="deleteMany" class="btn btn-sm btn-primary">Delete many</button></th>
            </tr>
        </table>
    </div>

    <script>
        // Отримання всіх користувачів
        function getUsers() {
            $.ajax({
                url: "/users",
                type: "GET",
                contentType: "application/json",
                success: function (users) {
                    var rows = "";
                    $.each(users, function (index, user) {
                        rows += row(user);
                    })
                    $("table tbody").append(rows);
                }
            });
        }

        // Отримання одного користувача
        function getUser(id) {
            $.ajax({
                url: "/users/" + id,
                type: "GET",
                contentType: "application/json",
                success: function (user) {
                    var form = document.forms["userForm"];
                    form.elements["id"].value = user._id;
                    form.elements["first_name"].value = user.firstName;
                    form.elements["last_name"].value = user.lastName;
                    form.elements["user_login"].value = user.userLogin;
                }
            });
        }

        // Додавання користувача
        function addUser(firstName, lastName, userLogin) {
            $.ajax({
                url: "/users",
                contentType: "application/json",
                method: "POST",
                data: JSON.stringify({
                    firstName: firstName,
                    lastName: lastName,
                    userLogin: userLogin
                }),
                success: function (user) {
                    $("table").append(row(user));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#error').toggleClass('invisible')
                    setTimeout(() => {
                        $('#error').toggleClass('invisible')
                    }, 5000)
                    console.log(jqXHR)
                    console.log(textStatus)
                    console.log(errorThrown)
                }
            })
        }

        function updateUser(userId, firstName, lastName, userLogin) {
            $.ajax({
                url: "/users",
                contentType: "application/json",
                method: "PUT",
                data: JSON.stringify({
                    id: userId,
                    firstName: firstName,
                    lastName: lastName,
                    userLogin: userLogin
                }),
                success: function (user) {
                    reset();
                    $("tr[data-rowid='" + user._id + "']").replaceWith(row(user));
                }
            })
        }

        // Скидання даних форми
        function reset() {
            var form = document.forms["userForm"];
            form.reset();
            form.elements["id"].value = 0;
        }

        var arrayToDelete = []
        function test(elem) {
            console.log(elem.dataset)
            if (elem.checked) {
                arrayToDelete.push(elem.dataset['id'])
            } else {
                arrayToDelete.splice(arrayToDelete.indexOf(elem.dataset.id))
            }
            console.log(arrayToDelete)
        }
        // Створення рядка для таблиці
        var row = function (user) {
            return "<tr data-rowid='" + user._id + "'>" +
                "<td>" + user._id + "</td>" +
                "<td>" + user.firstName + "</td> <td>" + user.lastName + "</td>" + "<td>" + user.userLogin + "</td>" +
                "<td><button class='btn editLink' data-id='" + user._id + "'>Редагувати</button></td>" +
                "<td><button class='btn removeLink' data-id='" + user._id + "'>Видалити</button></td>" +
                "<td><input onclick='test(this)' type='checkbox' data-id='" + user._id + "'>" +
                "</tr>";
        }

        $("#deleteMany").click((e) => {
            $.ajax({
                url: "/deleteMany",
                contentType: "application/json",
                method: "POST",
                data: JSON.stringify({
                    ids: arrayToDelete,
                    t: 't'
                }),
                success: function (res) {
                    arrayToDelete.map(item => {
                        $('table').find(`[data-rowid=${item}]`).remove()
                    })
                    arrayToDelete = []
                }
            })
        })

        // Відправка форми
        $("form").submit(function (e) {
            e.preventDefault();
            var id = this.elements["id"].value;
            var firstName = this.elements["first_name"].value;
            var lastName = this.elements["last_name"].value;
            var userLogin = this.elements["user_login"].value;
            if (id == 0) {
                console.log(0);
                addUser(firstName, lastName, userLogin);
            } else {
                console.log(1)
                updateUser(id, firstName, lastName, userLogin);
            }

        });

        //Видалення користувача
        function deleteUser(id) {
            $.ajax({
                url: "/users/" + id,
                contentType: "application/json",
                method: "DELETE",
                success: function (user) {
                    console.log(user);
                    $("tr[data-rowid='" + user._id + "']").remove();
                }
            })
        }

        $("body").on("click", ".removeLink", function () {
            var id = $(this).data("id");
            deleteUser(id);
        });
        $("body").on("click", ".editLink", function () {
            var id = $(this).data("id");
            getUser(id);
        });

        //Сортування
        function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("table");
        switching = true;
        dir = "asc";

        while (switching) {
          switching = false;
          rows = table.rows;
          for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount ++;
          } else {
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }

        // Завантаження користувачів
        getUsers();

    </script>
</body>

</html>
