<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>About Page</title>
</head>
<body>
  <h1>{{pageTitle}}</h1>
  <p>Description of About Page</p>
  <footer>Copyright, {{currentYear}}</footer>
</body>
</html>
