{{> header}}
<p>{{#bold}}Some text{{/bold}}</p>
<p>{{#bold}}{{pageContent}}{{/bold}}</p>
<p>Author: {{fullName author}}</p>
{{#list people}}
  <a href="{{url}}">{{firstName}} {{lastName}}</a>
{{/list}}
{{> footer}}
