{{> header}}
<nav class="navbar bg-dark">
  <a class="navbar-brand text-light" href="/weather">Weather Application</a>
</nav>

<div class="row">
  <div class="col-2 m-3">
    {{#list cities}}
      <a href="/weather/{{name}}">{{name}}</a>
    {{/list}}
  </div>
  <div class="col-6 m-3">
    <table class="table">
      <tr>
        <th>Country</th>
        <td>{{weather.country}}</td>
      </tr>
      <tr>
        <th>City</th>
        <td>{{weather.city}}</td>
      </tr>
      <tr>
        <th>Weather</th>
        <td>{{weather.weather}}</td>
      </tr>
      <tr>
        <th>Coords</th>
        <td>{{weather.longitude}}{{weather.latitude}}</td>
      </tr>
      <tr>
        <th>Temperature</th>
        <td>{{weather.temperature}}</td>
      </tr>
      <tr>
        <th>Pressure</th>
        <td>{{weather.pressure}}</td>
      </tr>
      <tr>
        <th>Humidity</th>
        <td>{{weather.humidity}}</td>
      </tr>
      <tr>
        <th>Wind Speed</th>
        <td>{{weather.windSpeed}}</td>
      </tr>
    </table>
  </div>
</div>
{{> footer}}
