{{> header}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Department Name</th>
      <th scope="col">Short Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each departments}}
    <tr>
      <th scope="row">{{this.department_id}}</th>
      <td><a href="/department/{{this.department_id}}">{{this.department_name}}</a></td>
      <td>{{this.short_name}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{> footer}}
