{{> header}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Short Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each establishments}}
    <tr>
      <th scope="row">{{this.establishment_id}}</th>
      <td><a href="/establishment/{{this.establishment_id}}">{{this.establishment_name}}</a></td>
      <td>{{this.short_name}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{> footer}}
