{{> header}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Group Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each groups}}
    <tr>
      <th scope="row">{{this.group_id}}</th>
      <td><a href="/group/{{this.group_id}}">{{this.group_name}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{> footer}}
